html {
  height: 100%;
}

body {
  height: 100%;
}

#app {
  height: 100%;
}

.loading-icon {
  max-height: 200px;
  margin: auto;
  display: block;
  background-image: url("https://zippy.gfycat.com/SkinnySeveralAsianlion.gif");
  margin: auto;
  height: 100%;
  width: 200px;
  background-size: 200px;
  background-repeat: no-repeat;
  background-position-y: center;
}