.message-info {
  color: #00529B;
  background-color: #BDE5F8;
}
.message-success {
  color: #4F8A10;
  background-color: #DFF2BF;
}
.message-warning {
  color: #9F6000;
  background-color: #FEEFB3;
}
.message-error {
  color: #D8000C;
  background-color: #FFD2D2;
}
.message {
  div {
    margin:10px 22px;
    vertical-align:middle;
    padding-left: 2em;
    padding-right: 2em;
    text-align: justify;
    padding-bottom: 1em;
    padding-top: 1em;
  }
}
/**
Autohide after 5 seconds
**/
.autohide {
  -webkit-animation: seconds 1.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 5s;
  animation: seconds 1.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 5s;
}
@-webkit-keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px;
    height: 0;
    visibility: hidden;

  }
}
@keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px;
    height: 0;
    visibility: hidden;

  }
}